.ui.four.column.centered.grid
  .four.wide.column
    h5
      |Subtotal: $
      =@cart_subtotal
      h5
        |PST:
        = number_to_currency(@pst)
      h5
        |GST: $
        =@gst
      h5
        |HST: $
        =@hst
      h3
        |Total: $
        =@total
